/* stili header */
h1{
    display: inline;
    font-size: 70px;
}
/* stili main */

.back{
    width: 100%;
    background-color: rgba(189, 185, 185, 0.192);
    height: 1000px;
    margin-top: 0%;
    position: relative;

}

.container{
    position: absolute;
    width: 60%;
    background-color: red;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    height: 800px;
    padding: 50px;
}

#buttom-1{
    background-color:rgb(7, 153, 186) ;
    border-color:rgb(7, 153, 186) ;
    border-radius: 10%;
    color: white;
    font-size: 20px;
}
#buttom-2{
    border-radius: 10%;
    font-size: 20px;
    color: rgba(112, 111, 111, 0.562);
    border-color:rgba(112, 111, 111, 0.562) ;
}

.editorial{
    display: inline-block;
    color: white;
    background-color: rgb(7, 153, 186);
    padding: 5px;
    border-radius: 20px;
}

.Q1{
    display: inline-block;
    padding: 5px;
    border-radius: 20px;
    color: white;
    background-color: rgba(163, 62, 230, 0.842);

}

.raw{
    padding: 10px;

}

.Recruiting{
    display: inline-block;
    padding: 5px;
    border-radius: 20px;
    color: white;
    background-color: rgba(163, 62, 230, 0.842);

}

.mobile{
    display: inline-block;
    padding: 5px;
    border-radius: 20px;
    color: white;
    background-color: rgba(215, 132, 37, 0.842);
    
}

.website{
    display: inline-block;
    padding: 5px;
    border-radius: 20px;
    color: white;
    background-color: rgba(231, 76, 220, 0.842);

}
.sales{
    display: inline-block;
    padding: 5px;
    border-radius: 20px;
    color: white;
    background-color: rgba(62, 124, 8, 0.842);


}